.cart-no{
    position: absolute;
    min-height: 25px;
    min-width: 25px;
    border-radius: 50%;
    font-size: 1em;
    background:rgb(206, 7, 7);
    color: white;
    text-align: center;
    top: -12px;
    right: 32px;
}

a {
    text-decoration: none;
    color: #343a40;

    &.active{
        color:#ce0707; 
        background-color: #fff1f1; 
        border-radius: 5%;
    }

}   

img {
    cursor: pointer;
}

a:hover{
    color:#ce0707;  
    background-color: #fdf6f7;
    border-radius: 5%;
}

  